{% extends 'core/basic.html' %}
{% load static %}
{% block corecss %} 
   <div class="container mt-5">
    <h3 class="text-warning border-bottom mb-5">Services</h3>
    <!container >
    <div class="row">
    <!row >
    <div class="col-sm-4 text-white text-center">
    <i class="fas fa-search-location fa-2x " style="color:chartreuse"></i>
    <h5 class="mt-2" style="color:whitesmoke;">SEO</h5>
    <p style="color:whitesmoke">for search bar</p>
    </div>
    <div class="col-sm-4 text-white text-center">
    <i class="fab fa-html5 fa-2x" style="color:chartreuse"></i>
    <h5 class="mt-2" style="color:whitesmoke">HTML</h5>
    <p style="color:whitesmoke">For front end</p>
    </div>
    <div class="col-sm-4 text-white text-center">
    <i class="fab fa-css3 fa-2x " style="color:chartreuse"></i>
    <h5 class="mt-2" style="color:whitesmoke">CSS</h5>
    <p style="color:whitesmoke">For styling the broweser</p>
    </div>
    <!paste>
    <div class="col-sm-4 text-white text-center mt-5">
    <i class="fab fa-python fa-2x " style="color:chartreuse;"></i>
    <h5 class="mt-2" style="color:whitesmoke;">PYTHON</h5>
    <p style="color:whitesmoke">For backend developing</p>
    </div>
    <div class="col-sm-4 text-white text-center mt-5">
    <i class="fab fa-java fa-2x" style="color:chartreuse"></i>
    <h5 class="mt-2" style="color:whitesmoke">Java</h5>
    <p style="color:whitesmoke">For Gaming</p>
    </div>
    <div class="col-sm-4 text-white text-center mt-5">
    <i class="fab fa-js fa-2x " style="color:chartreuse"></i>
    <h5 class="mt-2" style="color:whitesmoke">JS</h5>
    <p style="color:whitesmoke">For Making form</p>
    </div>
    <! paste>
    <div class="col-sm-4 text-white text-center mt-5">
    <i class="fab fa-bootstrap fa-2x " style="color:chartreuse"></i>
    <h5 class="mt-2" style="color:whitesmoke;">BS</h5>
    <p style="color:whitesmoke">For backend</p>
    </div>
    <div class="col-sm-4 text-white text-center mt-5">
    <i class="fab fa-php fa-2x" style="color:chartreuse"></i>
    <h5 class="mt-2" style="color:whitesmoke">PHP</h5>
    <p style="color:whitesmoke">It is a language</p>
    </div>
    <div class="col-sm-4 text-white text-center mt-5">
    <i class="fas fa-user-graduate fa-2x " style="color:chartreuse"></i>
    <h5 class="mt-2" style="color:whitesmoke">user-graduate</h5>
    <p style="color:whitesmoke">Name of Graduate Student</p>
    </div>
    <!row >
    </div>
    <!container >
   </div>
{% endblock corecss %}