{% extends 'core/basic.html' %}
{% load static %}
{% block corecss %} 
   <div class="container mt-5">
      <h1 class="text-warning mb-5 border-bottom">skills</h1>
      <div class="row test-white">
         <div class="col-md-5 mt-5">
            <h3>HTML</h3>
            <div class="progess">
            <div class="progess-bar  bg-danger" role="progressbar" style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
         </div>
         <div class="col-md-5 offset-md-2 mt-5">
            <h3>CSS</h3>
            <div class="progess">
            <div class="progess-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:100%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
         </div>
         <div class="col-md-5 mt-5">
            <h3>JS</h3>
            <div class="progess">
            <div class="progess-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
         </div>
         <div class="col-md-5 offset-md-2 mt-5">
            <h3>PYTHON</h3>
            <div class="progess">
            <div class="progess-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
         </div>
         <div class="col-md-5 mt-5">
            <h3>JAVA</h3>
            <div class="progess">
            <div class="progess-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
         </div>
         <div class="col-md-5 offset-md-2 mt-5">
            <h3>SQL</h3>
            <div class="progess">
            <div class="progess-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
         </div>
         <div class="col-md-5 mt-5">
            <h3>DATA-STRUCTURE</h3>
            <div class="progess">
            <div class="progess-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
         </div>
         <div class="col-md-5 mt-5 offset-md-2">
            <h3>DJANGO</h3>
            <div class="progess">
            <div class="progess-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
         </div>
      </div>
   </div>
{% endblock corecss %}